{% extends "common.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

    <section class="contact-img-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="con-text">
                        <h2 class="page-title">Shop</h2>
                        <p><a href="#">Products</a> | Shop</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <center style = "margin-top: 100px;"><h3 style="margin-bottom: 25px">Are You sure want to delete this product? </h3></center>

    <form method="post">
    	{% csrf_token %}
    	<center>
    	<input type="submit" name="btn btn-primary" style="margin-bottom: 100px">
    	</center>
    </form>

{% endblock %}