{% extends 'common.html' %}
{% load static %}
{% block title %} apparel || shop {% endblock %}
{% block content %}
        <!-- pages-title-start -->
		<section class="contact-img-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="con-text">
                            <h2 class="page-title">My Products</h2>
                            <p><a href="#">Home</a> | My Products</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		<!-- pages-title-end -->
		<!-- shop-style content section start -->
		<section class="pages products-page section-padding-top">
			<div class="container">
				    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="features-tab">
                                  <!-- Nav tabs -->

                                        </div>
                                    </div>
                                  <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane active" id="home">
                                            <div class="row">
                                                <div class="shop-tab">	
                                                    {% for product in products %}
                                                    <!-- single-product start -->
                                                    <div class="col-md-4 col-lg-4 col-sm-6" style="margin-bottom: 50px">
                                                        <div class="single-product s-top s-bottom res-n">
                                                            <div class="product-img">
                                                                <div class="pro-type">
                                                                    <span>new</span>
                                                                </div>
                                                                <img src="{{ product.image1.url }}" alt = "product image" />
                                                            </div>
                                                            <div class="product-dsc">
                                                                <h3><a href="#">{{ product.name }}</a></h3>
                                                                <div class="star-price">
                                                                    <span class="price-left">${{ product.price }}</span>
                                                                    <!-- <span class="star-right">
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star-half-o"></i>
                                                                    </span> -->
                                                                    <br>
                                                                    <button class="btn btn-success"><i class="fa fa-eye"></i><a href="{% url 'Home:Products:singleproduct' product.id %}" style="color: white"> View</a></button>
                                                                    <button class="btn btn-primary"><i class="fa fa-edit"></i><a href="{% url 'Home:Products:updateproduct' product.id %}" style="color: white"> Edit</a></button>
                                                                    <button class="btn btn-danger"><i class="fa fa-trash"></i><a href="{% url 'Home:Products:deleteproduct' product.id %}" style="color: white"> Delete</a></button>
                                                                </div>
                                                            </div>
                                                            <div class="actions-btn">
                                                                <a href="{% url 'Home:Products:singleproduct' product.id %}" data-placement="top" data-trigger="hover" data-toggle="modal" data-original-title="Quick View"><i class="fa fa-eye"></i></a>
                                                                <a data-placement="top" data-toggle="tooltip" href="#" data-original-title="Add To Wishlist"><i class="fa fa-heart"></i></a>
                                                                <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Compare"><i class="fa fa-retweet"></i></a>
                                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="fa fa-shopping-cart"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                                </div>
                                                <div class="li-item">
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="tb-product-item-inner tb2 pct-last">
                                                            <div class="pro-type">
                                                                <span>sale</span>
                                                            </div>
                                                            <div class="re-img">
                                                                <a href="#"><img alt="" src="img/products/2.jpg"></a>
                                                            </div>
                                                            <div class="actions-btn">
                                                                <a data-original-title="Quick View" data-toggle="modal" data-trigger="hover" data-target="#quick-view" data-placement="top" href="#">
                                                                <i class="fa fa-eye"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                <div class="li-item">
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="tb-product-item-inner tb2 pct-last">
                                                            <div class="pro-type">
                                                                <span>new</span>
                                                            </div>
                                                            <div class="re-img">
                                                                <a href="#"><img alt="" src="img/products/3.jpg"></a>
                                                            </div>
                                                            <div class="actions-btn">
                                                                <a data-original-title="Quick View" data-toggle="modal" data-trigger="hover" data-target="#quick-view" data-placement="top" href="#">
                                                                <i class="fa fa-eye"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                <div class="li-item">
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="tb-product-item-inner tb2 pct-last">
                                                            <div class="pro-type">
                                                                <span>sale</span>
                                                            </div>
                                                            <div class="re-img">
                                                                <a href="#"><img alt="" src="img/products/4.jpg"></a>
                                                            </div>
                                                            <div class="actions-btn">
                                                                <a data-original-title="Quick View" data-toggle="modal" data-trigger="hover" data-target="#quick-view" data-placement="top" href="#">
                                                                <i class="fa fa-eye"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                <div class="li-item">
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="tb-product-item-inner tb2 pct-last">
                                                            <div class="re-img">
                                                                <a href="#"><img alt="" src="img/products/5.jpg"></a>
                                                            </div>
                                                            <div class="actions-btn">
                                                                <a data-original-title="Quick View" data-toggle="modal" data-trigger="hover" data-target="#quick-view" data-placement="top" href="#">
                                                                <i class="fa fa-eye"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>	
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</section>
		<!-- shop-style  content section end -->

{% endblock %}